<div class="container">
  <h1>Customers</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>email</th>
        <th>contact</th>
        <th>address</th>
        <th>pin</th>
        <th>gender</th>
        <th>state </th>
        <th>country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.contact}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.pin}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.country}}</td>
        <td>
          <button (click)="onDetails(customer)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(customer)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
